# [作業目標]
- 利用範例的創建方式, 創建一組資料, 並練習如何取出最大值

# [作業重點]
- 練習創立 DataFrame (In[2])
- 如何取出口數最多的國家 (In[3], Out[3])

## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [8]:
import pandas as pd
import numpy as np

In [20]:
h=[]
import  random
while(len(h)<10):
    h.append(random.randint(10000,50000))
data = {'國家':['台灣','日本','美國','天堂','地獄','無人島'] ,
        '人口': np.random.randint(1000,size=6)}
data1 = pd.DataFrame(data)

In [21]:
data1

    國家   人口
0   台灣  596
1   日本  302
2   美國  784
3   天堂  574
4   地獄   56
5  無人島  981

In [37]:
data2 = data1['人口'].max()
data3 = data1.loc[data1['人口'] == data2]
data3

    國家   人口
5  無人島  981